<div class="auth-main">
    <div class="auth-wrapper">
      <div class="auth-form">
        <div class="card mt-5">
          <div class="card-body">
            <div class="text-center">
              <h2 class="text-secondary"><b>Mot de passe oublié</b></h2>
              <p>Entrez votre adresse e-mail pour recevoir le lien de réinitialisation.</p>
            </div>
            <form>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="userName" placeholder="Adresse e-mail" name="userName" required>
                <label for="userName">Adresse e-mail</label>
              </div>
              <button type="submit" class="btn btn-secondary w-100">Envoyer</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  