<div class="col-xxl-3 col-md-6">
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <div class="flex-grow-1 me-3">
          <p class="mb-1 fw-medium text-muted">titre</p>
          <h4 class="mb-1">valeur</h4>
          <p class="mb-0 text-sm">date</p>
        </div>
        <div class="flex-shrink-0">
          <div class="avatar avatar-l rounded-circle">
            <i class="ph-duotone f-28"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-card cardTitle="Other">
  
</app-card>