<div class="auth-main">
    <div class="auth-wrapper">
      <div class="auth-form">
        <div class="card mt-5">
          <div class="card-body">
            <div class="text-center">
              <h2 class="text-secondary"><b>Réinitialiser le mot de passe</b></h2>
            </div>
            <form>
              <div class="form-floating mb-3">
                <input type="hidden" id="userId" name="userId" value="user-id-value" />
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="newPassword" placeholder="Nouveau mot de passe" name="newPassword" required>
                <label for="newPassword">Nouveau mot de passe</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="confirmNewPassword" placeholder="Confirmer le nouveau mot de passe" name="confirmNewPassword" required>
                <label for="confirmNewPassword">Confirmer le nouveau mot de passe</label>
              </div>
              <button type="submit" class="btn btn-secondary w-100">Réinitialiser le mot de passe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  